extends layout
include includes/movieblock

block content
    -const categories = movies ? Array.from(new Set(movies.flatMap(movie => movie.Genre))) : []
    .container
        .filters
            label="Genre "
            select#category
                option(selected)
                for category in categories
                    option= category
            label="Minrating "
            input#minrating(type='number')
        if user
            .recommendation
                h2 Recommendations
                if movies.length !== 0
                    +movieblock(movies[0])
                else
                    h2 No movies have been found...
        h2 All movies
        for movie in movies
            +movieblock(movie)
        else
            h2 No movies have been found...
        button(onclick='window.location.replace("http://localhost:8000/movies/create")') Create Movie

